body {
  font-family: 'Segoe WPC', 'Segoe UI', sans-serif, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.container {
  /* min-width: 65%; */
  width: 65%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-width: 65%;
}

input,
#snippet-area,
#snippet-text-area {
  font-size: medium;
  color: var(--vscode-settings-textInputForeground);
  border: 1px solid rgb(151, 149, 149);
  border-radius: 3px;
  padding: 4px 6px;
  min-width: 65%;
  background-color: var(--vscode-settings-textInputBackground);
}

textarea {
  min-height: 300px;
  resize: none;
}

.required {
  color: red;
}

input:focus,
textarea:focus {
  outline-color: #0090f1;
  border-color: var(--vscode-focusBorder);
}

button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--vscode-button-border);
  width: 100%;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.heading {
  font-size: 26px;
  font-weight: 600;
}

::placeholder {
  color: var(--vscode-input-placeholderForeground);
  font-size: 13px;
}

.col-gap {
  row-gap: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-xs {
  margin-bottom: 9px;
}

.position-relative {
  position: relative;
}

.setting-item-validation-message {
  background-color: var(--vscode-inputValidation-errorBackground);
  color: var(--vscode-inputValidation-errorForeground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  line-height: 1.4em !important;
  position: absolute;
  margin-top: -1px;
  z-index: 1;
  padding: 3px 5px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

pre {
  font-family: 'Segoe WPC', 'Segoe UI', sans-serif, Consolas, 'Courier New',
    monospace;
  font-size: 14px;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-editor-background);
  padding: 2px 4px;
  border-radius: 3px;
}

:disabled {
  cursor: not-allowed;
  user-select: none;
}
